<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>
    {{ range .}}
    <h2>{{.}}</h2>
    {{ end }}

    <form method="post" enctype="multipart/form-data">
      <input type="file" name="nf">
      <input type="submit">
    </form>

  </body>
</html>
